<!doctype html>

<html>
  
  <head>
    <title>Wish.me Main</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootswatch/3.0.0/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="container">
      <header>
        <div class="row">
          <div class="col-md-3">
            <h1>Wish.me</h1>
          </div>
          <div class="col-md-6">
            <form>
              <div class="form-group">
                <label class="control-label"></label>
                <div class="controls">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search your friends or wishes (example: Varnikov , iPad...)" maxlength="200">
                  </div>
                  <button type="submit" class="btn btn-default">Search!</button>
                </div>
              </div>
            </form>
          </div>
          @Html.Partial("_LoginPartial")
        </div>
        <div class="container">
          <div class="row"></div>
        </div>
      </header>
    </div>
    <div class="container">
      <a href="@Url.Action("Create", "Wishes")" class="btn pull-left btn-warning"><b>+ wish</b></a>
      <ul class="nav navbar-nav">
        <li class="disabled">
          @Html.ActionLink("Wish.Flow", "Index", "Wishes")
        </li>
        <li>
          <a href="#">Friends.Flow</a>
        </li>
        <li>
          <a href="#">Groups</a>
        </li>
        <li>
          <a href="#">Settings</a>
        </li>
      </ul>
    </div>
  @RenderBody()
  </body>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("Scripts", required: false)
</html>
