@model ICollection<AuthenticationClientData>

@if (Model.Count == 0)
{
    <div class="message-info">
        <p>There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=252166">this article</a>
        for details on setting up this ASP.NET application to support logging in via external services.</p>
    </div>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
    @Html.AntiForgeryToken()
    <fieldset id="socialLoginList">
        <h3>
        @foreach (AuthenticationClientData p in Model)
        {
            if (p.AuthenticationClient.ProviderName == "facebook") 
            {
                <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" class="btn btn-primary btn-lg">@p.DisplayName<i class="fa fa-facebook"></i></button>     
            }
            else if (p.AuthenticationClient.ProviderName == "twitter")
            {
                <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" class="btn btn-info btn-lg">@p.DisplayName<i class="fa fa-twitter"></i></button>     
            }
        }
        </h3>
    </fieldset>
    }
}
