@model swishes.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_SuperLayout.cshtml";
}

@section Menu {
     <ul class="nav nav-pills pull-right">
          <li>
            @Html.ActionLink("Home", "Index", "Home")
          </li>
          <li>
            @Html.ActionLink("About", "About", "Home")
          </li>
          <li>
              @Html.ActionLink("Contacts", "Contact", "Home")
          </li>
          <li class="active">
              @Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
          </li>
        </ul>
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="container">
    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
