@{
    Layout = "~/Views/Shared/_SuperLayout.cshtml";
}
@section Menu {
     <ul class="nav nav-pills pull-right">
          <li class="active">
            @Html.ActionLink("Home", "Index", "Home")
          </li>
          <li>
            @Html.ActionLink("About", "About", "Home")
          </li>
          <li>
              @Html.ActionLink("Contacts", "Contact", "Home")
          </li>
            <li>@Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
}


      <div class="jumbotron">
        <h1>Wish.me - wishes that come&nbsp;</h1>
        <p class="lead">Wish.me very easy and common way to collaborate with wishlist</p>
        <p>@Html.ActionLink("Sign up today", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="btn btn-lg btn-success" })</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4>Create your wishlist</h4>
          <img src="https://app.divshot.com/img/placeholder-100x100.gif" class="img-rounded" align="middle">
          <p>Just enter some words or link from Yandex.Market or Amazon.com</p>
        </div>
        <div class="col-md-4">
          <h4>Follow important dates</h4>
          <img src="https://app.divshot.com/img/placeholder-100x100.gif" class="img-rounded" align="middle">
          <p>Follow your friends and know when and what to gift</p>
        </div>
        <div class="col-md-4">
          <h4>Plan gift buying&nbsp;</h4>
          <img src="https://app.divshot.com/img/placeholder-100x100.gif" class="img-rounded" align="middle">
          <p>Create groups to organize and plan gift shopping</p>
        </div>
      </div>
      @Html.ActionLink("Sign up today", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-success btn-lg btn-block" })

@section Scripts{

}