@model swishes.Core.Entities.Wishes.Wish

@{
    ViewBag.Title = "Delete";
}
<div class="container">
<div class="media">
                <div class="media-body">
                    <h4 class="media-heading">@Html.DisplayFor(model => model.Name)</h4>
                    <p>
                        <img class="media-object" style="width:300px;" src="@Model.ImageName">
                    </p>
                    <table class="table">
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(model => model.Description)</td>
                                <td>
                                    <b> @Html.DisplayFor(model => model.Price)</b>
                                </td>
                                <td> @Html.DisplayFor(model => model.Prioriry)<i class="fa fa-flash"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
