@model swishes.Core.Entities.Wishes.Wish

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new {enctype = "multipart/form-data"})) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model=>model.WishListId)
    @Html.HiddenFor(model=>model.Status)
    @Html.HiddenFor(model=>model.Id)
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <form>
            <div class="form-group">
              <label class="control-label">Name</label>
              <div class="controls">
                @Html.TextBoxFor(model => model.Name, new { @class="form-control pull-left input-lg"})
                @Html.ValidationMessageFor(model => model.Name)
                <div class="form-group">
                    
                    <label class="control-label">Description</label>
                    <br />
                     @Html.TextBoxFor(model => model.Description, new { @class="form-control input-lg" })
                    @Html.ValidationMessageFor(model => model.Description)
                    
                    <br />
                  <label class="control-label">Link<i class="fa fa-unlink"></i></label>
                  <div class="controls">
                      
                      @Html.TextBoxFor(model => model.Link, new { @class="form-control input-lg" })
                      @Html.ValidationMessageFor(model => model.Link)
                    
                      <br />
                      <label class="control-label">Link for Image<i class="fa fa-unlink"></i></label>
                      <br />  
                      @Html.TextBoxFor(model => model.ImageName, new { @class="form-control input-lg" })

                      <br />
                      <label class="control-label">Avg. price</label>
                      <br />  
                      @Html.TextBoxFor(model => model.Price, new { @class="form-control input-lg" })
                       @Html.ValidationMessageFor(model => model.Price)
                    <br />
                    <label class="control-label">Priority</label>
                    <br />
                    @Html.DropDownListFor(model=>model.Prioriry, new SelectList(ViewBag.Priorities , "Value" , "Text"),new {@class = "form-control"})
                  </div>
                </div>
              </div>
            </div>
          </form>
            <button type="submit" class="btn btn-success">&uarr; Update my wish</button>     
            @Html.ActionLink("Back to List", "Index")
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
