@model IEnumerable<swishes.Core.Entities.Wishes.Wish>

@{
    ViewBag.Title = "Wish.Flow";
}

@if (!Model.Any())
{
    <div class="container">
      <h1>Ohh... You do not Have any Wishes...</h1>
      @Html.ActionLink("Create your First wish", "Create", null, new { @class="btn btn-block btn-primary"})
    </div>
}
else
{ 
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="media">
                <a class="pull-left" href="@Url.Action("Details", "Wishes", new { id=item.Id })">
                    <img class="media-object" style="width:150px;" src="@item.ImageName">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">@Html.DisplayFor(modelItem => item.Name)</h4>
                    <table class="table">
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td style="width: 70%;">@Html.DisplayFor(modelItem => item.Description)</td>
                                <td style="width: 15%; text-align:right;">
                                    <b> @Html.DisplayFor(modelItem => item.Price)</b>
                                </td>
                                <td style="width: 15%;  text-align:right;"> @Html.DisplayFor(modelItem => item.Prioriry)&nbsp;<i class="fa fa-flash"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-success">YEAH! I've GOT IT!</a>
                    <a href="@Url.Action("Edit", "Wishes", new { id=item.Id })"class="btn btn-link"><i class="fa fa-file-text"></i>&nbsp;Edit</a>
                    <a href="@Url.Action("Delete", "Wishes", new { id=item.Id })" class="btn btn-link"><i class="fa fa-times pull-left"></i></a>
                </div>
            </div>
        }
    </div>
 }